*{
    font-family: sans-serif;
    line-height: 1.8;
    color: #0a0a0a69 ;
    
}

body {
    margin: 0 0;
    overflow-x: hidden;
}

.m-0 {
    margin: 0 !important;
}

.black {
    color: black;
}


/*for section1 */
.firstSection {
    background-color: white;
}

nav {
    margin-left: 100px;
}

nav h1{
    color: #f3556c;
    font-family: serif;
    margin: 10px;
    font-size: 36px;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none;
    margin: 18px;
}

.flex {
    display: flex;
}

a.active {
    color: black;
}

nav a {
    font-size: small;
}

.banner img {
    width: 845px;
    position: absolute;
    top: -215px;
    right: -160px;
}

.sous-11 {
    margin: 110px;
}

.ins {
    width: 171px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.but-1 {
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    font-size: medium;
    padding: 10px;
    border-radius: 4px;
    background: linear-gradient(146deg, rgba(255,217,168,1) 0%, rgba(254,198,160,1) 0%, rgba(254,159,159,1) 0%, rgba(254,180,157,1) 30%, rgba(250,122,127,1) 43%, rgba(247,68,104,1) 100%); /*cssgradient.io*/
}

.sous-12 {
    text-align: center;
    margin-top: 186px;
}

.sous-13{
   position: absolute;
   top: 768px;
   left: -48px;
}

.blue {
    color: rgb(13, 149, 221);
}

.sous-14 {
    margin-left: 595px;
    margin-top: 70px;
    margin-right: 231px;
}

.sous-14 h4 {
    margin-right: 153px;
}


.small {
    font-size: small;
}

.sous-14 ul {
    margin-top: 50px;
}

.sous-14 ul li {
    margin: 10px 0;
    box-shadow: 2px 2px #f1eeee;

}

.sous-14 ul li i {
    float: left;
    margin-right: 10px;
}


/*for second section*/

.secondSection {
    background-color: rgb(243 243 243 / 91%) !important;
    margin-top: 178px;
}
.header {
    text-align: center;
    margin-top: 50px;
}

.secondSection .header h1 {
    padding-top: 47px;
}

.secondSection .header p {
    padding-bottom: 47px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    width: 180px;
    background-color: white;
    text-align: center;
    margin: 20px;
    padding: 28px;
    box-shadow: 0px 0px 17px 2px #e3e3e3;
}

.card img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 20px;
}

.card h1 {
    border-radius: 50%;
    padding: 50px;
}

/*third section */

.thirdSection .cards div img {
    padding-top: 122px;
}


/*fourthSection*/

.fourthSection {
    height: 465px;
}

.sous41 {
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;
}

.image3 {
    position: absolute;
    right: 0;
    bottom: -399%;
    z-index: -10;
}

.layer {
    position: absolute;
    right: 194px;
    bottom: -399%;
    z-index: -10;
}

/*five section*/

.fiveSection {
    margin: 100px;
    justify-content: space-between;
}

.but-5 {
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    font-size: medium;
    padding: 10px;
    border-radius: 4px;
    background-color: green;
    height: 50px;
}

.fiveSection .cards .card {
    width: auto !important;
}

/*for footer*/
footer{
    background-color: rgb(243 243 243 / 91%);
    padding: 70px;
    position: inherit;
    clear: both;
}
.about h1 {
    color: rgba(0 0 0 /69%);
    font-size: medium;
}

.about {
    color: #0a0a0a69 !important;
    margin: 0 20px;

}

.about a{
    width: 100px;
}

.center {
    text-align: center;
}
